body {
  display: flex;
  background-color: beige;
  font-family: Arial, sans-serif;
  text-align: center;display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  margin: 0;
}
.container{
  width: 80%;
}

.button {
  display: inline-block;
  padding: 20px 40px;
  font-size: 20px;
  background-color: burlywood;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 20px;
}

.button:hover {
  background-color: brown;
}
  