
/* Resetting default margin and padding */
body, ul {
  
  margin: 0;
  padding: 0;
}

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float:right;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

nav ul {
  list-style-type: none;
  margin: 10;
  overflow: hidden;
  
}

nav ul li {
  float: right;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 0px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

.btn {
  display: inline-block;
  background-color:#ad8484;
  color: white;
  padding: 0;
  text-decoration: none;
  border-radius: 25;
}


 
  
  /* Global Styles */
  body {
    font-family: Arial,rgb(84, 4, 4);
    line-height: 1.6;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  header {
    background-color: rgb(228, 229, 237);
    color: white;
    padding: 20px 0;
  }
  
  header h1 {
    font-size: 80px;
    color:#4f1111;
    style:monospace;
    margin: 0;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: rgb(222, 217, 217);
    text-decoration: none;
  }
  
  .hero {
    background-image: url('https://t4.ftcdn.net/jpg/00/78/97/35/360_F_78973579_sYLDxFsEKOWnxyi9iMVVj4NuPGURN375.jpg');
    background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    color: #808080;
    text-align: center;
    padding:400px 0;
    width: 100%;
    
  }
  
  .hero h2 {
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color:#800000;
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    border-radius: 10px;
  }
  
  .features {
    padding: 20px 0;
  }
  
  .feature {
    text-align: center;
  }
  
  .feature i {
    font-size: 40px;
    margin-bottom: 20px;
  }
  
  /* Dropdown Content (Hidden by Default) */

  main{
    background-color:rgb(28, 26, 25);
    color:white;
    padding: 20px;

  }
  footer {
    background-color: #060708;
    color: rgb(237, 237, 237);
    text-align: center;
    padding: 10px;
  }
 
